/**
 * General elements
 */

@import url(figure.css);

body {
  color: #212121;
  font-family: arial, sans-serif;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #F0F4C3;
}

h1 {
  font-size: 2.2em;
}

.link-bar {
    font-size: 11pt;
    font-style: italic;
}

.correct-reply {
    color: #1E8F1E;
    font-weight: bold;
}

.comment-comment-form {
    overflow: hidden;
    margin-left: 70px;
}

.comment-comment {
    margin-left: 70px;
    border-top: 1px solid #B6B6B6;
}

.arrow-up, .arrow-down {
    fill: #B6B6B6;
}
.arrow-up-active {
    fill: #1E8F1E;
}
.arrow-down-active {
    fill: #FF3333;
}
.no-dec {
    text-decoration: none;
}

.allQuestions a {
    display: block;
    text-decoration: none;
    color: #212121;
    border-top: 1px solid transparent;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #B6B6B6;
}

#question textarea {
    width: 940px;
    min-height: 150px;
}

#editUser textarea {
    width: 600px;
    min-height: 100px;
}

#reply textarea {
    width: 600px;
    min-height: 100px;
}

.singleQuestion {
    margin-bottom: 20px;
}

.allQuestions a:hover {
    color: #727272;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}

.user-list {
    display: block;
    clear: both;
    height: 80px;
    margin: 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #B6B6B6;
}

.user-list a {
    text-decoration: none;
    color: #212121;
}

.allScore {
    font-size: 30pt;
    margin-top: 10px;
    position: absolute;
}

.rep {
    font-weight: bold;
    font-style: italic;
}

.user-list h3 {
    margin-top: 0;
}

.activity-list {
    list-style: none;
    display: block;
}

.reply {
    margin: 5px;
    padding: 5px;
    border-top: 1px solid #B6B6B6;
}

.arrow-link {
    display: block;
}


.author {
    font-size: small;
    font-style: italic;
}

#navbar {
    margin: 5px 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  color: #212121;
  position: relative;
}

.navbar a {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.navbar li:hover {
  color: #727272;
}

.navbar li.selected {
    border-top: 2px #FF9800 solid;
    border-bottom: 2px #FF9800 solid;
}



/**
 * Layout of the main page elements
 */
#wrapper {
  margin: 0 auto;
  width: 980px;
  padding: 0 10px 10px 10px;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin: 0 auto;
  width: 980px;
  display: block;
}

#headerWrap {
    background-color: #CDDC39;
    position: relative;
    display: block;
    width: 100%;
    left: 0;
}

.sitetitle {
    color: #212121;
    top: 6px;
    left: 130px;
    font-size: 48px;
    display: inline-block;
}

.siteslogan {
    top: 65px;
    left: 130px;
    font-style: italic;
    color: #212121;
    display: block;
}

.top-login {
    float:right;
    margin-top: 6px;
}

.top-login a {
    color: #212121;
    text-decoration: none;
}

.tag-line {
    font-size: 10pt;
    font-style: italic;
}

.top-login a:hover {
    color: #FF9800;
}

/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
  border-right: 1px solid #ccc;
  padding-right: 1em;
}

.article1 h1,
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
}
